@use "tailwindcss" as *;

.container {
    max-width: 1699px;
    margin: 0 auto;
}

.scroll-bar {
    position: relative;
}

.scroll-bar::-webkit-scrollbar {
    width: 8px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: rgba(85, 105, 129, 0.3);
    border-radius: 20px;
    height: 71px;
    position: absolute;
    right: -10px;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: transparent;
}

.bg-custom-gradient {
    background-image: linear-gradient(to bottom, #C00000, #743949);
}

.custom-gradient-line-gray {
    background: linear-gradient(to right, #556981, #55698126);
}

.custom-gradient-line-green {
    background: linear-gradient(to right, #00863D, #C2ECD5);
}

.custom-gradient-line-red {
    background: linear-gradient(to right, #C00000, #E5D3D3);
}

.swiper-button-next {
    background-color: #00863D;
}

.swiper-button-prev {
    background-color: #00863D;
}

.swiper-button-disabled {
    opacity: 1 !important;
}